.page-intro{
    .page-content, .page-intro{
        p{
            color: #1E513D;
            font-family: Satoshi;
            font-size: 17px;
        }
        h2{
            color: #0B2712;
            font-family: Satoshi;
            font-size: 35px;
        }
    }

    .text-container, .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p{
            margin-bottom: 20px;
        }
    }   

    img{
        position: relative;
        object-fit: contain;
        .breakpoint-large-down({
            max-width: 320px;
            max-height: 430px;
        });
    }
}

.page-tabs{
    .tab-link{
        border-radius: 30px;
        border: 1px solid #fff;
        background: #F6F6F6;
        padding: 16px 20px;
        color: #90A494;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        &:hover, &.active {
            border: 1px solid #3CBB54;
            background: #3CBB54;
            color: #fff;
        }
    }
}

.page-content{
    .tab-content {
        display: none;
        opacity: 0;
        
        &.active {
            display: block;
            opacity: 1;
        }
    }    
}

.deliverable-text{
    color: #3CBB54;
    font-size: 17px;
    text-align: left !important;
}