<p class="lead">
	Please check your email for the activation code.
</p>

<form
		class="ui form"
		data-request="onResetPassword"
		data-request-success="alert('You have successfully changed your password. Please login to the Internal Repository.');"
        data-request-redirect="/login"
    >
	<div class="fields">
		<div class="field">
			<label for="resetCode">Activation Code <span class="text-danger">* required</span></label>
			<input name="code" type="text" id="resetCode" placeholder="Enter the activation code" value="{{get('reset')}}" required>
		</div>

		<div class="field">
			<label for="resetPassword">New Password</label>
			<input name="password" type="password" id="resetPassword" placeholder="Enter a new password">
		</div>
	</div>

	<div class="text-center mt-1">
        <div class="button_su">
                            <span class="su_button_circle desplode-circle">
                            </span>
            <button type="submit" class="button_su_inner">
                              <span class="button_text_container">
                                Reset password
                              </span>
            </button>
        </div>
		<button type="button" class="btn btn-link" onclick="window.location.href='/login'" aria-label="Return to login">Return to login</button>
	</div>
</form>
