<button type="button" onclick="$('#accountDeactivateForm').toggle()" aria-expanded="false" aria-controls="accountDeactivateForm">
    Deactivate account
</button>

<div id="accountDeactivateForm" style="display: none">
    {{ form_ajax('onDeactivate') }}
        <hr />
        <h3>Deactivate your account?</h3>
        <p>
            Your account will be disabled and your details removed from the site.
            You can reactivate your account any time by signing back in.
        </p>
        <div class="form-group">
            <label for="accountDeletePassword">To continue, please enter your password:</label>
            <input name="password" type="password" class="form-control" id="accountDeletePassword" />
        </div>
        <button type="submit" class="btn btn-danger">
            Confirm Deactivate Account
        </button>
        <button type="button" onclick="$('#accountDeactivateForm').toggle()" aria-expanded="true" aria-controls="accountDeactivateForm" class="btn btn-link">
            I changed my mind
        </button>
    {{ form_close() }}
</div>
