url = "/partners"
layout = "default"
title = "Partners"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

==
<?php
use Pensoft\Partners\Models\Partners;

function onStart(){
	$this['partners'] =  Partners::where('type', 1)->get();
	$this['supporting_partners'] =  Partners::where('type', 4)->get();
}
?>
==
<!-- <h1 class="underline">Partners</h1>

<div class="container">
    {% for partner in partners %}
    <div class="col-xs-12">
        <div class="row partner-item">
            <div class="col-md-3 col-xs-12 partner_cover"><img src="{{partner.cover.path}}"></div>
            <div class="col-md-9 col-xs-12">
                <div class="partner_info">
                    <div class="instituion-title row">
                        <div class="col-md-9 col-xs-12 start-md center-xs">{{partner.instituion}}</div>
                        <div class="col-md-3 col-xs-12 end-md center-xs">
                            <div class="button_su website">
                            <span class="su_button_circle">
                            </span>
                                <a href="{{partner.instituion_url}}" class="button_su_inner">
                                <span class="button_text_container">
                                Visit website
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="partner_description">
                        {{partner.content|raw}}
                    </div>
                    <p><a class="read-more dorsal">Read more</a></p>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container" id="mission">

    <h2 class="underline">Our Ecosystem</h2>
    <div class="row supporting_partners">
        {% for part in partners %}
            <div class="col-md-3 col-xs-12">
                <div class="supp_partner_item">
                    <div class="supp_partner_image">
                        <a href="{{part.instituion_url}}">
                            <img src="{{part.cover.path}}">
                        </a>
                    </div>

                    <div class="button_su website">
                            <span class="su_button_circle">
                            </span>
                        <a href="{{part.instituion_url}}" class="button_su_inner">
                                <span class="button_text_container">
                                Visit website
                                </span>
                        </a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

</div> -->
