{# Living Labs Map Popup Partial #}
<div class="map-popup" id="living-labs-popup" style="display: none;">
    <div class="popup-header">
        <button class="popup-close" onclick="closeLivingLabsPopup()">&times;</button>
    </div>
    <div class="popup-content">
        <div class="popup-country">
            <h3 class="country-name" id="popup-country-name"></h3>
        </div>
        <div class="popup-partner" id="popup-partner-content">
            {# Single partner content will be populated by JavaScript #}
            <div class="partner-item">
                <div class="partner-logo" id="partner-logo-container" style="display: none;">
                    <img id="partner-logo" src="" alt="" loading="lazy">
                </div>
                <div class="partner-info">
                    <h4 class="partner-name" id="partner-name"></h4>
                    <div class="partner-description" id="partner-description"></div>
                    <div class="partner-actions" id="partner-actions">
                        {# Action buttons will be populated by JavaScript #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 